NEXT_PUBLIC_SUPABASE_URL=https://zfvfzvykzxhzdgxryfxo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmdmZ6dnlrenhoemRneHJ5ZnhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NDMzNDcsImV4cCI6MjEwMTQxOTM0N30.XGZY13yCNcgjBCpF2UQotKvL-oAfB2M9JbvpVVt148k
